<h1 class="text-center">{{appName}}</h1>

<div class="col col-md-offset-1 col-md-10">

    <table class="table table-bordered table-condensed center-block">

        <tbody>
            <tr class="title-row-green">
                <td>
                    <i class="fa fa-chevron-down pull-right"></i>
                    <h2 class="content-text">Versions</h2>
                </td>
            </tr>

            <tr ng-repeat="version in gameVersions" >
                <td>
                    <div class="content-text" ng-init="showAllText = false" >
                        <h3>{{version.versionInfo.title}}</h3>
                        <h4>{{version.versionInfo.published | date: 'medium'}}</h4>
                        <div ng-show="showAllText">{{version.versionInfo.content}}<span class="link-text clickable" ng-click="showAllText = false">[Less]</span></div>
                        <div ng-hide="showAllText">{{version.versionInfo.content | truncate : true : 400 :' ... '}}<span class="link-text clickable" ng-click="showAllText = true">[Read more]</span></div>
                    </div>

                    <div class="reviews-header">
                        <span class="clickable" ng-hide= "showReview" ng-click="showReview = true; getVersionReviews(version.versionInfo.published);"><i class="fa fa-chevron-down"></i>Show reviews</span>
                        <span class="clickable" ng-show= "showReview" ng-click="showReview = false"><i class="fa fa-chevron-up"></i>Hide reviews</span>
                    </div>

                    <!--<div class="well review" ng-hide="version.reviews.length">No reviews found for this version</div>-->

                    <div class="reviews-panel" ng-show= "showReview">

                        <span ng-if="!version.reviews.length">
                            No reviews found
                        </span>

                        <div class="well review" ng-repeat="review in version.reviews" ng-if="version.reviews.length">
                            <span class="bold-text">{{'Author: '+ review.author}}</span>
                            <span class="bold-text">{{review.created | date: 'mediumDate'}}</span>
                            <div class="review-content" ng-show="showAllText">{{review.content}}<span class="link-text clickable" ng-click="showAllText = false">[Less]</span></div>
                            <div ng-hide="showAllText">{{review.content | truncate : true : 250 :' ... '}}<span class="link-text clickable" ng-click="showAllText = true">[Read more]</span></div>
                            <span>{{'Seen by: '+ review.peopleSeen + ' Helpful: ' + review.peopleHelpful}}</span>
                        </div>

                    </div>

                </td>


            </tr>

            <tr class="title-row-pumpkin">
                <td>
                    <i class="fa fa-chevron-down pull-right"></i>
                    <h2 class="content-text">DlCs</h2>
                </td>
            </tr>

            <tr ng-repeat="dlc in gameDlcs">
                <td>
                    <div class="content-text" ng-init="showAllText = false">
                        <h3>{{dlc.dlcInfo.name}}</h3>
                        <h4>{{dlc.dlcInfo.releaseDate | date: 'medium'}}</h4>
                        <!--<div ng-show="showAllText">{{dlc.dlcInfo.content}}<span class="link-text clickable" ng-click="showAllText = false">Less</span></div>-->
                        <!--<div ng-hide="showAllText">{{dlc.dlcInfo.content | truncate : true : 400 :' ... '}}<span class="link-text clickable" ng-click="showAllText = true">Read more</span></div>-->
                    </div>

                    <div class="reviews-header">
                        <span class="clickable" ng-hide= "showReview" ng-click="showReview = true;getDlcReviews(dlc.dlcInfo.dlcId);"><i class="fa fa-chevron-down"></i>Show reviews</span>
                        <span class="clickable" ng-show= "showReview" ng-click="showReview = false"><i class="fa fa-chevron-up"></i>Hide reviews</span>
                    </div>

                    <div class="reviews-panel" ng-show= "showReview">

                        <span ng-if="!dlc.reviews.length">
                            No reviews found
                        </span>

                        <div class="well review" ng-repeat="review in dlc.reviews" ng-if="dlc.reviews.length">
                            <span class="bold-text">{{'Author: '+ review.author}}</span>
                            <span class="bold-text">{{review.created | date: 'mediumDate'}}</span>
                            <div class="review-content" ng-show="showAllText">{{review.content}}<span class="link-text clickable" ng-click="showAllText = false">[Less]</span></div>
                            <div ng-hide="showAllText">{{review.content | truncate : true : 250 :' ... '}}<span class="link-text clickable" ng-click="showAllText = true">[Read more]</span></div>
                            <span>{{'Seen by: '+ review.peopleSeen + ' Helpful: ' + review.peopleHelpful}}</span>
                        </div>
                    </div>

                </td>


            </tr>

        </tbody>

    </table>

</div>