<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-default navbar-fixed-top">
                <ul id="menu-top" class="nav navbar-nav ">
                    <a class="navbar-brand" href="index.html">Steam Data Haversting</a>
                    <li><a class="menu-top-active" href="#/watchlist">Watchlist</a></li>
                    <li><a href="#/datagames">Games with Data</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>