<section class="game-tables-container">

    <div class="row">
        <div class="input-group center-block search-panel">
            <label for="search-field">Search in Games</label>
            <input class="form-control" type="text" placeholder="Enter game name or ID" id="search-field" ng-model="searchText" ng-change="getGames()"/>
        </div>
    </div>

    <div class="row watch-tables-container">

        <div class="col col-md-6 unwatched-table-container">

            <h3 class="text-center"> Unwatched </h3>

            <i class="fa fa-spin fa-refresh text-center refresh-icon" ng-hide="games.length"></i>

            <div game-table games="games" search-text="searchText" is-watchlist="false" add="addToWatchlist(appId)"></div>

        </div>

        <div class="col col-md-6 watchlist-table-container">

            <h3 class="text-center">Watching</h3>

            <i class="fa fa-spin fa-refresh text-center refresh-icon" ng-hide="games.length"></i>

            <div game-table games="games" search-text="searchText" is-watchlist="true" remove="removeFromWatchlist(appId)" show="showAppVersions(appId, appName)" harvest="harvestDataForApp(appId, appName)"></div>

        </div>

    </div>

</section>